In [ ]:
# import the libraries

import pandas as pd
import numpy as np

In [17]:
# read the data in
df = pd.read_csv('StudentsPerformance_pandas.csv')

In [18]:
# cursory look
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1009 entries, 0 to 1008
Data columns (total 8 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   This dataset was downloaded from kaggle.com  1003 non-null   object
 1   Unnamed: 1                                   1002 non-null   object
 2   Unnamed: 2                                   1002 non-null   object
 3   Unnamed: 3                                   1001 non-null   object
 4   Unnamed: 4                                   1001 non-null   object
 5   Unnamed: 5                                   1001 non-null   object
 6   Unnamed: 6                                   1002 non-null   object
 7   Unnamed: 7                                   1001 non-null   object
dtypes: object(8)
memory usage: 63.2+ KB

In [ ]:
df.describe() #Understanding data using .describe()

In [ ]:
df.head(10) # look at the first 10 entries

In [ ]:
df.tail(3) # last 3 entries

In [ ]:
names = ['gender',	'race/ethnicity',	'parental level of education',	'lunch',	'test preparation course',	'math score',	'reading score','	writing score']
# create a list to use as column names

In [ ]:
df.columns = names

In [ ]:
df.head()

In [51]:
df = pd.read_csv('StudentsPerformance_pandas.csv', header=2) # row 3 contains the column headers
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72.0,72.0,74.0
1,female,group C,some college,standard,completed,69.0,90.0,88.0
2,female,group B,master's degree,standard,none,90.0,95.0,93.0
3,male,group A,associate's degree,free/reduced,none,47.0,57.0,44.0
4,male,group C,some college,standard,none,76.0,78.0,75.0

In [21]:
df.info

<bound method DataFrame.info of       gender race/ethnicity parental level of education         lunch  \
0     female        group B           bachelor's degree      standard
1     female        group C                some college      standard
2     female        group B             master's degree      standard
3       male        group A          associate's degree  free/reduced
4       male        group C                some college      standard
...      ...            ...                         ...           ...
1002    male        group C                 high school  free/reduced
1003  female        group C                 high school  free/reduced
1004  female        group D                some college      standard
1005  female        group D                some college  free/reduced
1006  female        group A                 high school           NaN

     test preparation course  math score  reading score  writing score
0                       none        72.0           72.0           74.0
1                  completed        69.0           90.0           88.0
2                       none        90.0           95.0           93.0
3                       none        47.0           57.0           44.0
4                       none        76.0           78.0           75.0
...                      ...         ...            ...            ...
1002                    none        62.0           55.0           55.0
1003               completed        59.0           71.0           65.0
1004               completed        68.0           78.0           77.0
1005                    none        77.0           86.0           86.0
1006                     NaN         NaN           50.0            NaN

[1007 rows x 8 columns]>

In [22]:
df.info() # The .info() method is a quick way to look at the data types, missing values, and data size of a DataFrame.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1007 entries, 0 to 1006
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1001 non-null   object
 1   race/ethnicity               1001 non-null   object
 2   parental level of education  1001 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   float64
 6   reading score                1001 non-null   float64
 7   writing score                1000 non-null   float64
dtypes: float64(3), object(5)
memory usage: 63.1+ KB

In [23]:
# convert math score into numeric
df['math score'] = pd.to_numeric(df['math score'])

# Data cleaning

In [26]:
# check for null values

df.isnull().sum()

gender                         6
race/ethnicity                 6
parental level of education    6
lunch                          7
test preparation course        7
math score                     7
reading score                  6
writing score                  7
dtype: int64

In [27]:
df.isna().sum()

gender                         6
race/ethnicity                 6
parental level of education    6
lunch                          7
test preparation course        7
math score                     7
reading score                  6
writing score                  7
dtype: int64

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1007 entries, 0 to 1006
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1001 non-null   object
 1   race/ethnicity               1001 non-null   object
 2   parental level of education  1001 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   float64
 6   reading score                1001 non-null   float64
 7   writing score                1000 non-null   float64
dtypes: float64(3), object(5)
memory usage: 63.1+ KB

In [29]:
df.columns # gives you the column names

Index(['gender', 'race/ethnicity', 'parental level of education', 'lunch',
       'test preparation course', 'math score', 'reading score',
       'writing score'],
      dtype='object')

In [30]:
display(df.gender)

display(df['gender'])

0       female
1       female
2       female
3         male
4         male
         ...
1002      male
1003    female
1004    female
1005    female
1006    female
Name: gender, Length: 1007, dtype: object

0       female
1       female
2       female
3         male
4         male
         ...
1002      male
1003    female
1004    female
1005    female
1006    female
Name: gender, Length: 1007, dtype: object

In [52]:
# let's rename the columns
# replace the / and space with _

new_names = []
for label in df.columns:
    replaced_name = label.replace("/", "_").replace(" ", "_")
    new_names.append(replaced_name)
    print(replaced_name)
df.columns = new_names

gender
race_ethnicity
parental_level_of_education
lunch
test_preparation_course
math_score
reading_score
writing_score

In [41]:
# c = df.columns.str.replace(('/', '_'), regex=True)
# df.columns = c
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1007 entries, 0 to 1006
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1001 non-null   object
 1   race_ethnicity               1001 non-null   object
 2   parental_level_of_education  1001 non-null   object
 3   lunch                        1000 non-null   object
 4   test_preparation_course      1000 non-null   object
 5   math_score                   1000 non-null   float64
 6   reading_score                1001 non-null   float64
 7   writing_score                1000 non-null   float64
dtypes: float64(3), object(5)
memory usage: 63.1+ KB

In [32]:
# assign it as our column headers
df.columns = new_names

In [ ]:
df.head()

In [44]:
# let's drop nas

df.dropna() # this doesn't work, it returns a copy with the nas removed but the original is unchanged

df.isna().sum()
# df = df.dropna()

# df.dropna(inplace=True)

gender                         6
race_ethnicity                 6
parental_level_of_education    6
lunch                          7
test_preparation_course        7
math_score                     7
reading_score                  6
writing_score                  7
dtype: int64

In [57]:
display(df['writing_score'].mode()[0])
display(df['writing_score'].mean())

74.0

68.054

In [58]:
# let's impute the missing values 
# math_scores

df.fillna({'math_score':df['math_score'].mean()}, inplace=True)

# writing scores
df.fillna({'writing_score':df['writing_score'].mode()[0]}, inplace=True)
# df.writing_score = df.writing_score.interpolate(inplace=True)

# reading score
# df.reading_score.fillna(method='ffill', inplace=True)
df.reading_score.ffill(inplace=True)
df.isna().sum()

C:\Users\Andrew\AppData\Local\Temp\ipykernel_47372\1147165459.py:12: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df.reading_score.ffill(inplace=True)

gender                         6
race_ethnicity                 6
parental_level_of_education    6
lunch                          7
test_preparation_course        7
math_score                     0
reading_score                  0
writing_score                  0
dtype: int64

In [ ]:
df.isna().sum()

In [59]:
# add a new column with the average scores
df['average_scores'] = (df.math_score + df.writing_score + df.reading_score)/3

In [60]:
df.head(3)

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score,average_scores
0,female,group B,bachelor's degree,standard,none,72.0,72.0,74.0,72.666667
1,female,group C,some college,standard,completed,69.0,90.0,88.0,82.333333
2,female,group B,master's degree,standard,none,90.0,95.0,93.0,92.666667

In [61]:
# assign grades on average score:

# two ways

# np.select

conditions = [(df['average_scores']>= 90),
              (df['average_scores']<90)&(df['average_scores']>=80),
              (df['average_scores']<80)

]

values = ['A', 'B', 'Pass']



df['grades'] = np.select(conditions, values)

In [62]:
df.head()

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score,average_scores,grades
0,female,group B,bachelor's degree,standard,none,72.0,72.0,74.0,72.666667,Pass
1,female,group C,some college,standard,completed,69.0,90.0,88.0,82.333333,B
2,female,group B,master's degree,standard,none,90.0,95.0,93.0,92.666667,A
3,male,group A,associate's degree,free/reduced,none,47.0,57.0,44.0,49.333333,Pass
4,male,group C,some college,standard,none,76.0,78.0,75.0,76.333333,Pass

In [ ]:
# use a function to assign the grades

df

In [ ]:
# df['math_score'] = df['math_score'].fillna(df.math_score.mean())

In [ ]:
student_performance_df = df.copy()
student_performance_df['average'] = (student_performance_df.math_score + student_performance_df.writing_score + student_performance_df.reading_score)/3

def grade(row):
    average = row.average
    if average >= 90:
        return 'A'
    elif average >= 80:# and average <90:
        return 'B'
    else:
        return 'Pass'


student_performance_df['grades_2'] = student_performance_df.apply(grade, axis=1)
student_performance_df.head()

# Grouping

In [ ]:
student_performance_df.groupby(['gender','grades']).mean(numeric_only = True)

In [ ]:
female_performance = student_performance_df.groupby(['gender','grades']).mean(numeric_only = True).loc['female']
female_performance

In [ ]:
male_performance = student_performance_df.groupby(['gender','grades']).mean(numeric_only = True).loc['male']
male_performance

In [ ]:
student_performance_df.groupby(['parental_level_of_education', 'lunch']).mean(numeric_only = True).sort_values('average')

In [ ]:
student_performance_df.groupby(['gender','grades']).mean()


## Weather data

In [ ]:
weather_df = pd.read_csv('weather_data.csv', index_col='DATE')
weather_df.head()

In [ ]:
import dateutil

my_date = dateutil.parser.parse('20000101 04:00')
my_date
# You could convert the date column into dates using this library, however..

In [ ]:
# best way to do convert a column to dates: use pandas to_datetime
weather_df = pd.read_csv('weather_data.csv')
weather_df['DATE'] = pd.to_datetime(weather_df['DATE'])

#assign it as the index

weather_df.set_index('DATE',inplace=True)

In [ ]:
weather_df

In [ ]:
# now that we have the date column as an index and as date objects,
# we can slice the df using that
weather_df["2000":"2005"] # for example to get the data between 2000 and 2005

In [ ]:
weather_df.resample('5Y').mean(numeric_only=True) # we can also resample on timeframes
# for example 5 year timesamples

In [ ]:
len(list(weather_df.resample('1Y'))) # yearly

In [ ]:
# The precipitation at each station per quater

weather_df.groupby("STATION_NAME").resample('1Y').mean(numeric_only = True)